.navbar.navbar-light.fixed-top.navbar-expand-md
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/theme/neo.min.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600' rel='stylesheet')
  .container
    a.navbar-brand(href='/')
      i.fas.fa-dumbbell
      | IronDigger
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li.active.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/') 
              i.fas.fa-home.fa-lg
              | Home
        if user && !user.isCoach
          li.nav-item(class=(title === 'Calendar') ? 'active' : undefined)
            a.nav-link(href='#')
              i.far.fa-calendar-alt.fa-lg
              | Calendar
        if user && !user.isAdmin && !user.isCoach
          li.nav-item(class=(title === 'History') ? 'active' : undefined)
            a.nav-link(href='#')
              i.fas.fa-chart-line 
              | History
        if user && user.isAdmin
          li.nav-item(class=(title === 'Create Phase') ? 'active' : undefined)
            a.nav-link(href='#')
              i.fas.fa-plus
              | Create Phase
        if user && (user.isAdmin || user.isCoach)
          li.nav-item(class=(title === 'View User') ? 'active' : undefined)
            a.nav-link(href='#')
              i.fas.fa-user.fa-lg
              | View User
        if user
          li.nav-item(class=(title === 'Leaderboard') ? 'active' : undefined)
            a.nav-link(href='/status') 
              i.fas.fa-trophy
              | Leaderboard
        if user && (user.isAdmin || user.isCoach)
          li.nav-item(class=(title === 'Send Message') ? 'active' : undefined)
            a.nav-link(href='#')
              i.fas.fa-mobile-alt.fa-lg
              | Send Message
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.first || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') Profile
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
