.navbar.navbar-light.fixed-top.navbar-expand-md
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
  .container
    a.navbar-brand(href='/')
      i.fas.fa-dumbbell
      | IronDigger
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li.active.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/') 
              i.fas.fa-home.fa-lg
              | Home
        if user && !user.isCoach
          li.nav-item(class=(title === 'Calendar') ? 'active' : undefined)
            a.nav-link(href='#')
              i.far.fa-calendar-alt.fa-lg
              | Calendar
        if user && !user.isAdmin && !user.isCoach
          li.nav-item(class=(title === 'History') ? 'active' : undefined)
            a.nav-link(href='/athleteviewhistory/'+user._id)
              i.fas.fa-chart-line.fa-lg
              | History
        if user && user.isAdmin
          li.nav-item(class=(title === 'Create Phase') ? 'active' : undefined)
            a.nav-link(href='/createphase')
              i.fas.fa-plus.fa-lg
              | Create Phase
        if user && user.isAdmin
          li.nav-item(class=(title === 'Teams') ? 'active' : undefined)
            a.nav-link(href='/views/teams')
              i.fas.fa-users.fa-lg
              | Teams
        if user && (user.isAdmin || user.isCoach)
          li.nav-item(class=(title === 'View User') ? 'active' : undefined)
            a.nav-link(href='#')
              i.fas.fa-user.fa-lg
              | View User
        if user
          li.nav-item(class=(title === 'Leaderboard') ? 'active' : undefined)
            a.nav-link(href='/status') 
              i.fas.fa-trophy.fa-lg
              | Leaderboard
        if user && (user.isAdmin || user.isCoach)
          li.nav-item(class=(title === 'Send Message') ? 'active' : undefined)
            a.nav-link(href='#')
              i.fas.fa-mobile-alt.fa-lg
              | Send Message
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.first || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') Profile
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
