extends layout

block content
  #root
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/mode/javascript/javascript.js')
  script(src='/js/bundle.js')