extends layout

append scripts
	script(src='/js/athleteCtrl.js')

block content
	h1 Teams
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
	#exampleModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					i.fas.fa-dumbbell.modal-dumbell
					h5#exampleModalLabel.modal-title Athletes
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true')
				.modal-body
				.modal-footer
					button.btn.btn-primary.btn-sm(type='button', data-dismiss='modal', onclick="$(\".modal-body\").html(\"\");") Close

	#groupModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='groupModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					i.fas.fa-dumbbell.modal-dumbell
					h5#groupModalLabel.modal-title Create Group
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true')
				.modal-body
				.modal-footer
					button.btn.btn-outline-primary.btn-sm(type='submit', onclick="createGroup();") Create Group
					button.btn.btn-primary.btn-sm(type='button', data-dismiss='modal', onclick="$(\".modal-body\").html(\"\");") Close

	#existingGroupModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='groupModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					i.fas.fa-dumbbell.modal-dumbell
					h5#groupModalLabel.modal-title Create Group
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true')
				.modal-body
				.modal-footer
					button.btn.btn-outline-primary.btn-sm(type='button') Add Athletes
					button.btn.btn-outline-primary.btn-sm(type='button') Delete Athletes
					button.btn.btn-primary.btn-sm(type='button', data-dismiss='modal', onclick="$(\".modal-body\").html(\"\");") Close

	mixin teamdiv(team, name, id)
		.div
			.span(class="border border-primary rounded")
				style(type='text/css').
					.span {
						padding: 2em !important;
					}
				button.btn(class="btn-outline-primary btn-sm float-right", type='button', data-toggle='modal', data-target='#groupModal' onclick="populateCreateGroup('" + id + "');") Create Group
				| &nbsp;
				.h3=  name
				| &nbsp; 
				button.btn(class="btn-outline-primary btn-sm float-right", type='button', data-toggle='modal', data-target='#exampleModal' onclick="populateAllAthletes('" + id + "');") View Athletes
				| &nbsp;
				.navbar
					ul.nav.navbar-nav.ml-auto
						dropdown(class=(title === 'Team Dropdown') ? 'active' : undefined).nav-item
							a.dropdown-toggle.nav-link(href='#',data-toggle="dropdown") 
								= 'Groups'	
								i.caret
							ul.dropdown-menu
								if team.groups != 0
									each g in team.groups
										- var team_id = team._id
										- var group_id = g._id
										li.dropdown-item(data-toggle='modal', data-target='#existingGroupModal', onclick="populateGroupAthletes('" + team_id + "','"+ group_id + "');")
											a(href='#') #{g.name}
								else
									li.dropdown-item(class="disabled")
											a(href='#', style={color:'grey'}) No groups for this team
	each t in teams 
		+teamdiv(t, t.name, t._id )
		p <br>

