extends layout

block content
	h1 Teams
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
	mixin teamdiv(team, name, id)
		.div
			.span(class="border border-primary rounded")
				style(type='text/css').
					.span {
						padding: 2em !important;
					}
				+button("Create Group")
				| &nbsp;
				.h3= name
				| &nbsp;
				+button("View Athletes")
				| &nbsp;
				.navbar
					ul.nav.navbar-nav.ml-auto
						dropdown(class=(title === 'Team Dropdown') ? 'active' : undefined).nav-item
							a.dropdown-toggle.nav-link(href='#',data-toggle="dropdown") 
								= 'Groups'	
								i.caret
							ul.dropdown-menu
								if team.groups != 0
									each g in team.groups
										li.dropdown-item
											a(href='#') #{g.name}
								else
									li.dropdown-item
											a(href='#') No groups for this team
	mixin button(caption)
		.button.btn(class="btn-outline-primary btn-sm float-right")
			= caption
	each t in teams 
		+teamdiv(t, t.name, t._id )
		p <br>

