extends layout

block content
	h1 Teams
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
	mixin dropdown(caption)
		.dropdown(class=(title === 'Team Dropdown') ? 'active' : undefined)
			a.dropdown-toggle(href='#',data-toggle="dropdown") 
				= caption
				i.caret
			ul.dropdown-menu
				li.dropdown-item
					a(href='#') Profile
				li.divider.dropdown-item
				li.dropdown-item
					a(href='#') Logout
	mixin button(caption)
		.button.btn(class="btn-outline-primary btn-sm")
			= caption
	.div
		.span(class="border border-primary rounded")
			style(type='text/css').
				.span {
					padding: 10px !important;
				}
			+dropdown("Select Team")
			+button("Create Group")
		
